<div class="mx-auto login-container">
    <div class="mx-auto logo">
        <img src="assets/workflow_logo.png" class="logo" alt="logo" />
    </div>
    <div class="card">
        <div class="card-body login-form">
            <h1>Password assistance</h1>
            <p>Enter the email address associated with your WorkFlow account</p>
            <form [formGroup]="assitanceForm" novalidate (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <mat-form-field class="input-block">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email?.invalid">
                            {{emailErrorMessage}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="d-grid">
                    <button mat-raised-button color="primary" class="cus-mat-btn" type="submit">{{config?.continue?.htmlElement?.label}}</button>
                </div>
            </form>
        </div>
    </div>
    <h2 class="mt-2">Has your email changed?</h2>
    <p>If you no longer use the email address associated with your Workflow account, you may contact <a href="#">Customer Service</a> for help restoring access to your account.</p>
</div>